<!doctype html>
<html>

<head>
    <title>Cute Animal Store</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="/css/my-styles.css">
</head>

<body>

    {{!Might be a good idea to have our navbar in our main layout, so it's replicated across pages.}}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">My Cute Animal Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link {{#if animalsPage}}active{{/if}}" href="/">Our Animals</a>

                {{#if username}}
                <a class="nav-item nav-link {{#if orderHistoryPage}}active{{/if}}" href="/orderHistory">My History</a>
                <a class="nav-item nav-link {{#if checkoutPage}}active{{/if}}" href="/checkout">Checkout</a>
                {{/if}}
            </div>
            <div class="navbar-nav">
                {{#if username}}
                <a class="nav-item nav-link" href="/orderHistory">{{username}}</a>
                <a class="nav-item nav-link" href="/logout">Logout</a>
                {{else}}
                <a class="nav-item nav-link" href="/login">Login</a>
                {{/if}}
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-md-8">
                {{{body}}}
            </div>

            {{!Shopping Cart}}
            <div class="col-md-4">
                <div class="shopping-cart card">
                    <h5 class="card-header bg-primary">
                        My Cart
                    </h5>
                    <div class="card-body">
                        {{#if cart}}
                        <form action="/updateCart" method="POST">
                            <table class="table table-striped">
                                <tbody>
                                    {{#each cart}}
                                    <tr>
                                        <td class="col-md-4"><input type="number" min="0" max="100" class="form-control"
                                                name="count-{{id}}" value="{{count}}"></td>
                                        <td class="col-md-8">
                                            <p class="form-control-static">{{name}}</p>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Update Quantities</button>
                                <button formaction="/clearCart" class="btn btn-danger" type="submit">Clear Cart</button>
                            </div>
                            {{!Used so we can redirect back to this page when the user updates their cart.}}
                            <input type="hidden" name="thisPage" value="{{thisPage}}">
                        </form>
                        {{else}}
                        <p class="card-text">There are no cute, fluffy animals in your cart! Please add some!</p>
                        {{/if}}

                        {{#if cartMessage}}
                        <div class="alert alert-info alert-dismissable fade show" role="alert">
                            {{cartMessage}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>

</html>